<div class="ui grid container">
    <div class="eleven wide column">
        // TLS
    </div>
    <div class="five wide column">
        <div class="box">
            <!--search-->
            <div class="ui fluid icon left corner labeled input">
                <input type="text" placeholder="filter..." ng-model="filterText">
                <i class="remove link icon" ng-click="filterText = ''" ng-show="filterText"></i>
                <div class="ui left corner label">
                    <i class="search icon"></i>
                </div>
            </div>

            <div class="ui divider"></div>

            <!--list-->
             <div class="ul list">
                 <div class="item" ng-repeat="s in ctrl.sensors | filter:filterText">
                     <i class="help icon link"
                        semantic-popup="click"
                        data-html="<h4>{{s.name}}</h4><p><b>description</b><br />{{s.description}}</p><p><strong>location</strong><br />{{s.location}}</p>"
                        data-variation="wide"></i>
                     <span>{{s.name}} ({{s.id}})</span>
                 </div>
             </div>
        </div>
    </div>
</div>