/* *****************************************************************
 * checkbox tree
 * ****************************************************************/

.ck-item-1 {
    margin: 8px 0;
}

.cell-input,
.cell-name,
.indent {
    display: inline-block;
}

.ck-nested .parent > .cell-name {
    cursor: pointer;
}

.indent:before {
    font-family: "monospace";
    width: 5px;
    margin-right: 3px;
    content: "*";
    display: inline-block;
}

div.parent > .indent:before {
    font-family: Icons;
    content: "\f0da"; /* semantic icon: caret right */
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.opened > div.parent > .indent:before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ck-nested .children {
    display: none;
}

.opened > .children {
    display: table-row;
}

/*TODO for now, hide the sls checkbox (if has chidren), since the server does not support means yet*/
 .ck-item-1.parent > .checkbox {
     display: none;
 }
/* *****************************************************************
 * sidebar
 * ****************************************************************/
.ui.custom.sidebar {
    width: 315px !important;
    margin-left: -315px !important;
}

.ui.visible.custom.sidebar {
    margin-left: 0px !important;
}

.ui.visible.right.custom.sidebar {
    margin-left: -315px !important;  /* vs 265px */
}

.sidebar.visible ~ .pusher > #container {
    padding-left: 60px;
    padding-right: 20px;
    transition: all .5s ease;
}

/* *****************************************************************
 * other
 * ****************************************************************/

/*inputs*/
.ui.input {
    margin: 10px 0;
}

input {
    margin-right: 6px !important;
}

/*== sticky ==*/

/*below fixed menu + transition ease (graph) */
.ui.sticky {
    transition: all .3s ease-in-out;
}

.ui.sticky.fixed.top {
    margin-top: 100px !important;
}

.ui.fixed.menu {
    z-index: 1000;
}

/*==  daterangepicker  ==*/

#datetimeForm input.ng-invalid:before {
    font-family: FontAwesome;
    content: "\f12a";
    color: red;
    padding-right: 4px;
}

input.ng-invalid {
    border-color: red !important;
}

/*yaxis form*/

#yaxisForm {
    padding: 10px 0;
}

#yaxisForm .nbr {
    padding: 10px 0;
}

#yaxisForm input {
    width: 40%;
}

/*period sma input*/
#periodInput {
    width: 50px;
    margin-left: 10px;

}