<form name="form.editform" class="ui form" novalidate>
        <!--name-->
    <div class="ui labeled input">
        <div class="ui label">name</div>
        <input type="text" ng-model="inputs.sensor.name" required>
    </div>

    <!--description-->
    <div class="field">
        <label>Description</label>
        <textarea ng-model="inputs.sensor.description" rows="2"></textarea>
    </div>

    <!--location-->
    <div class="field">
        <label>Location</label>
        <textarea ng-model="inputs.sensor.location" rows="2"></textarea>
    </div>

</form>