<sidebar button-class="#toggleSidebar"
         after-toggle="ctrl.onSidebarToggle"
         transition="marginate"
         class="custom"
         style="padding-top:70px">
    <!--<sidebar button-class="#toggleSidebar" transition="push">-->
    <!--<sidebar button-class="#toggleSidebar" transition="scale down">-->

    <sidebar-title icon="resize horizontal" title="x axis"></sidebar-title>
    <sidebar-item>
        <form name="datetimeForm" id="datetimeForm" ng-init="date = copy(ctrl.date)">

            <div class="ui input mini">
                <input type="datetime-local" id="inputFrom" name="inputFrom" ng-model="date.from"
                       max="{{date.to | date:'yyyy-MM-ddTHH:mm:ss'}}"
                       required/> (from)
            </div>
            <div class="ui input mini">
                <input type="datetime-local" id="inputTo" name="inputTo" ng-model="date.to"
                       min="{{date.from | date:'yyyy-MM-ddTHH:mm:ss'}}"
                       required/> (to)
            </div>
            <div class="center tiny marged"><code>month/day/year hr:min</code></div>

            <div class="ui button mini right floated" ng-click="ctrl.applyDate(date)"
                 ng-class="{'disabled': datetimeForm.$invalid }">
                Apply
            </div>
            <div style="clear:both"></div>

        </form>
    </sidebar-item>

    <sidebar-title icon="settings" title="Y axes" ng-click="yaxisShow = !yaxisShow">
    </sidebar-title>
    <sidebar-item ng-show="yaxisShow">
        <select ng-model="yAxisSelected" style="width: 96%" ng-change="ctrl.yAxisSelectChanged(yAxisSelected)"
                ng-options="item as item.title.text for item in ctrl.graph.chart.options.yAxis">
            <!--<option value=""></option>-->
            <!--<option ng-repeat="axis in ctrl.graph.chart.options.yAxis" value="{{axis}}">{{axis.title.text}}</option>-->
        </select>

        <div ng-show="modifiedAxis">
            <form name="yaxisForm" id="yaxisForm">

                <div class="field">
                    <div class=" ui checkbox">
                        <input ng-model="modifiedAxis.manual"
                               ng-change="ctrl.yAxisModeChanged(modifiedAxis)" type="checkbox"/>
                        <label>manual handling</label>
                    </div>
                </div>

                <div ng-show="modifiedAxis.manual" class="nbr">

                    <input type="number" ng-model="modifiedAxis.min"
                           ng-max="modifiedAxis.max" ng-change="ctrl.changeAxisY(modifiedAxis)"
                           required/>
                    =>
                    <input type="number" step="10" ng-model="modifiedAxis.max"
                           ng-min="modifiedAxis.min" ng-change="ctrl.changeAxisY(modifiedAxis)" required/>
                </div>

                {{form.axisForm.$valid}}
            </form>
        </div>
    </sidebar-item>

    <sidebar-title icon="magnet" title="available sensors"></sidebar-title>
    <sidebar-item>
        <div class="wrapper">
            <!--div class="ck-nested">
                <div ng-class="{opened: item.opened}" class="ck-item opened"
                     ng-repeat="item in ctrl.sensorsHierarchy" style="padding-bottom: 4px">
                    <input id="sensor-{{item.id}}" ng-change="ctrl.chkChanged(item)" ng-model="item.selected" type="checkbox"/>
                    <label for="sensor-{{item.id}}">{{item.name}}</label>
                </div>
            </div-->
            <div id="sensors-selection" class="ui fluid multiple search selection dropdown">
                <input type="hidden" name="country">
                <i class="dropdown icon"></i>
                <div class="default text">Select Sensors</div>
                <div class="menu">
                    <div class="item" ng-repeat="s in ctrl.sensorsHierarchy" data-value="{{$index}}">{{s.name}}</div>
                </div>
            </div>
        </div>
    </sidebar-item>

</sidebar>
