<div>Add users by selecting them from the dropdown menu. To make one user an administrator,
    click on the <i class="icon user blue"></i> icon so it becomes <i class="icon protect blue"></i>.
    When you are done, click on <em>finish</em> to save changes.
</div>
<br/>
<div class="ui compact menu right floated">
    <div class="ui simple dropdown item">
        choose users
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" ng-repeat="u in inputs.users"
                 ng-click="inputs.usersToAdd.indexOf(u) == -1 && inputs.usersToAdd.push(u)">{{u.name}}
            </div>
        </div>
    </div>
</div>

<div style="clear: both"></div>
<ul ng-repeat="u in inputs.usersToAdd as datasource">
    <li class="ui">
        <i class="right floated delete icon red" ng-click="datasource.splice($index, 1)"></i>
        <i ng-show="!u.isAdmin" class="icon user blue"
           ng-click="u.isAdmin = true"></i>
        <i ng-show="u.isAdmin" class="icon protect blue"
           ng-click="u.isAdmin = false"></i>
        {{u.name}} - {{u.email}}
    </li>
</ul>
