<!--"lazy" load-->
<div ng-init="ctrl.init()"></div>

<h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    User Groups
</h2>

<!--add group button-->
<p>
    <button class="ui labeled icon tiny button" ng-click="ctrl.addUserGroup()">
        <i class="add icon"></i>
        add user group
    </button>
</p>

<div class="ui cards usergroups">
    <div class="card" ng-repeat="ugroup in ctrl.adminGroups">
        <div class="content">
            <div class="ui header">Group <span class="group-name">{{ugroup.name}}</span></div>
            <div class="meta">Members</div>
            <div class="description">

                <div class="align-center link-fade" ng-click="ctrl.deleteUserGroup(ugroup, $index)">
                    <i class="trash icon"></i>
                    remove this group
                </div>

                <ul style="padding-left: 0">
                    <li ng-repeat="u in ugroup.users">
                        <div class="">
                            <i class="right floated delete icon red" ng-click="ctrl.removeUser(ugroup, u, $index)"></i>
                            <i ng-show="!u.isAdmin" class="icon user blue"
                               ng-click="ctrl.changeUserStatus(ugroup, u, true)"></i>
                            <i ng-show="u.isAdmin" class="icon protect blue"
                               ng-click="ctrl.changeUserStatus(ugroup, u, false)"></i>
                            {{u.name}} <br/>
                            <span class="meta">{{u.email}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ui buttons bottom attached basic">
            <div class="ui button" ng-click="ctrl.createUser(ugroup)">
                <i class="add user icon"></i>create user
            </div>
            <div class="ui button" ng-click="ctrl.addUser(ugroup)">
                <i class="plus square outline icon"></i>add existing
            </div>
        </div>

    </div>

</div>
